<section class="item-control">
    <br>
    <h2>UPDATE ITEM</h2>
    <h3>{{err}}</h3>
    
    <form method="POST" action="/update/{{item.id}}?method=PUT" enctype="multipart/form-data">

        <label>Title</label>
        <input type="text" name="title" id="title" value="{{item.title}}"> <br><br>

        <label>Synopsis</label>
        <textarea id="synopsis" name="synopsis">{{item.synopsis}}</textarea><br><br>

        <label>Featured</label>
        <select name="featured">
            <option value="true" {{#if_eq item.featured true}} selected {{/if_eq}}>Yes</option>
            <option value="false"{{#if_eq item.featured false}} selected {{/if_eq}}>No</option>
        </select>

        <label>Rating</label>
        <select name="rating">
            <option value="PG-13" {{#if_eq item.rating "PG-13"}} selected {{/if_eq}}>PG-13</option>
            <option value="PG" {{#if_eq item.rating "PG"}} selected {{/if_eq}}>PG</option>
            <option value="R" {{#if_eq item.rating "R"}} selected {{/if_eq}}>R</option>
            <option value="TV-MA" {{#if_eq item.rating "TV-MA"}} selected {{/if_eq}}>TV-MA</option>
            <option value="TV-PG" {{#if_eq item.rating "TV-PG"}} selected {{/if_eq}}>TV-PG</option>
            <option value="TV-14" {{#if_eq item.rating "TV-14"}} selected {{/if_eq}}>TV-14</option>
        </select>

        <label>Gerne (give 2 gernes, and use ',' to separate them)</label>
        <input type="text" name="gernes" id="gernes" value="{{item.gernes}}"> <br><br>

        <label>Small Poster</label>
        <input type="file" name="s_image" id="s_image" accept=".gif,.jpg,.png" >{{item.s_image}} <br><br>

        <label>Large Poster</label>
        <input type="file" name="l_image" id="l_image" accept=".gif,.jpg,.png">{{item.l_image}} <br><br>

        <label>Stars</label>
        <input type="text" name="stars" id="stars" value="{{item.stars}}"> <br><br>

        <label>Rent</label>
        <input type="text" name="rent" id="rent" value="{{item.rent}}"> <br><br>

        <label>Purchase</label>
        <input type="text" name="purchase" id="purchase" value="{{item.purchase}}"> <br><br>

        <label>Year</label>
        <input type="text" name="date" id="date" value="{{item.date}}"> <br><br>

        <label>Length</label>
        <input type="text" name="length" id="length" value="{{item.length}}"> <br><br>

        <label>Studio</label>
        <input type="text" name="studio" id="studio" value="{{item.studio}}"> <br><br>

        <label>Language</label>
        <input type="text" name="language" id="language" value="{{item.language}}"> <br><br>

        <label>Score</label>
        <input type="text" name="score" id="score" value="{{item.score}}"> <br><br>

        <label>UHD</label>
        <input type="text" name="uhd" id="uhd" value="{{item.UHD}}"> <br><br>

        <label>HDX</label>
        <input type="text" name="hdx" id="hdx" value="{{item.HDX}}"> <br><br>

        <label>SD</label>
        <input type="text" name="sd" id="sd" value="{{item.SD}}"> <br><br>

        <label>CC</label>
        <input type="text" name="cc" id="cc" value="{{item.CC}}"> <br><br>

        <input class="btn" type="submit" value="Update Item">

    </form>
    <br>
</section>
