
 <section id="item-dashboard">
     <br>
     <form method="POST" action="/items/search">
        <label>Search By</label>
        <select name="items-search">
            <option value="all">All Items</option>
            <option value="movies">All Movies</option>
            <option value="fmovies">Featured Movies</option>
            <option value="shows">All TV Shows</option>
            <option value="fshows">Featured TV Shows</option>
        </select>
        <input type="submit" value="Search">
     </form>
    <div id="items-links-holder">
        <a href="/add">Add an Item</a>
    </div>
    <table>
        <thead>
                <th>PICTURE</th>
                <th>TITLE</th>
                <th>DATE</th>
                <th>OPERATION</th>
        </thead>
        <tbody>
            
           {{#each items}}
                <tr>
                   <td>
                        <a href="" class="item-title"><img src="/images/posters/{{this.s_image}}" alt=""></a>
                   </td>
                   <td>
                       {{this.title}}
                      
                   </td>
                   <td>
                        {{this.date}}
                   </td>
                   <td>
                        <a href="/edit/{{this.id}}" class="edit-delete-button">Edit</a>
                        <a href="/delete/{{this.id}}?method=DELETE" class="edit-delete-button" onclick="return confirm('Are you sure you want to delete?')">Delete</a>
                   </td> 
                </tr>
            
            {{else}}
                <td colspan="4">
                    <p>No items in the database</p>
                </td>
            {{/each}}

    </tbody>
    </table>
    <br>
 
</section>

